* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 1.42857143;
  color: #999999;
  background-color: #edf0f2;
  height: 100%;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #999999;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #dc6767;
  text-decoration: none;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
hr {
  margin-top: 18px;
  margin-bottom: 18px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.require {
  color: #ff0000;
}
#wrapper {
  width: 100%;
  min-height: 100%;
}
#page-wrapper {
  min-height: 100%;
  background-color: #f0f2f5;
  transition: 0.6s all ease;
  margin-top: 50px;
  padding: 30px;
}
@media (min-width: 768px) {
  #page-wrapper {
    position: relative;
    margin: 55px 0 0 250px;
    padding: 30px;
  }
}
#topbar {
  background: #ffffff;
  width: 100%;
  height: 50px;
}
@media (min-width: 768px) {
  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}
.page-title-breadcrumb {
  padding: 10px 20px;
  background: #ffffff;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
  clear: both;
  border-bottom: 5px solid #e5e5e5 !important;
    box-shadow: none !important;
}
.page-title-breadcrumb .page-header {
  margin: 0;
  padding: 0;
  border-bottom: 0;
}
.page-title-breadcrumb .page-header .page-title {
  font-size: 25px;
  font-weight: 300;
  display: inline-block;
  
}
.page-title-breadcrumb .page-header .page-subtitle {
  font-size: 14px;
  font-weight: 300;
  color: #bcbcbc;
  display: inline-block;
}
.page-title-breadcrumb .breadcrumb {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  background: transparent;
}
.page-title-breadcrumb .breadcrumb li + li:before {
  content: "";
  padding: 0;
}
.horizontal-menu-page #sidebar {
  display: none;
}
.horizontal-menu-page #page-wrapper {
  margin-left: 0;
}
.horizontal-menu-page #menu-toggle {
  display: none;
}
.fixed-topbar #topbar {
  position: fixed;
}
.fixed-topbar #sidebar {
  padding-top: 50px !important;
}
.fixed-topbar #page-wrapper {
  padding-top: 50px !important;
}
#side-menu li a i.fa-bars{
  position: absolute;
    right: 20px;
    top: 17px;
}

#sidebar {
  background: #ffffff;
  top: 55px;
  overflow: auto;
}
.navbar-static-side {
  transition: 0.6s all ease ;
}
.nav-sidebar{
  transition: 0.6s all ease-out;

}
.navbar-static-side ul li {
  border-bottom: 1px solid #e7eaec;
}
.navbar-static-side ul .user-type {
    background: #f0f0f0;
    height: auto;
    color: #d9d9d9;
}
.navbar-static-side ul .user-type a {
    background: #e7eaec;
    height: auto;
      cursor: default;
    color: #d9d9d9;
}
.navbar-static-side ul li:first-child a {
  padding: 0;

}
.navbar-static-side ul li
{
   background: #e7eaec; /* Old browsers */
     outline: none;
      color:#41484e;
}
.navbar-static-side ul .active a
{
   background: #e7eaec;
     outline: none;
      color:#41484e;
}

.navbar-static-side ul li a {
  color: #41484e;
  padding: 15px;
  display: block!important;
      width: 250px;
}
#menu-toggle2{
  display: none!important;
}
.navbar-static-side ul li.active a {
  outline: none;
  border-left: solid 5px #0c9ed3;
  padding-left: 12px;
}
.navbar-static-side ul li a span.menu-title {
  margin-left: 10px;
}
.navbar-static-side ul li a i {
  font-size: 16px;
  color: #0c9ed3;
}
.navbar-static-side ul li a i .icon-bg {
  display: none;
}

.navbar-static-side ul li a .badge,
.navbar-static-side ul li a .label {
  float: right;
  margin-right: 10px;
}
.navbar-static-side ul li a.menu-title {
  margin-left: 10px;
}
.navbar-static-side ul li .nav-second-level li {
  border-bottom: 1px solid #484848;
}
.navbar-static-side ul li .nav-second-level li.active a,
.navbar-static-side ul li .nav-second-level li:hover a,
.navbar-static-side ul li .nav-second-level li:focus a {
 
}
.navbar-static-side ul li .nav-second-level li a {
  padding: 15px 15px 15px 40px;
  background: #37455f;
  color: #efefef;
}
.navbar-static-side ul li .nav-second-level li a span.submenu-title {
  margin-left: 10px;
}
.navbar-static-side ul li .nav-second-level li .nav-third-level li {
  border-bottom: 1px solid #484848;
}
.navbar-static-side ul li .nav-second-level li .nav-third-level li.active a,
.navbar-static-side ul li .nav-second-level li .nav-third-level li:hover a,
.navbar-static-side ul li .nav-second-level li .nav-third-level li:focus a {
  color: #fff;
}
.navbar-static-side ul li .nav-second-level li .nav-third-level li a {
  padding: 15px 15px 15px 40px;
  background: #313e55;
  color: #efefef;
}
.navbar-static-side ul li .nav-second-level li .nav-third-level li a span.submenu-title {
  margin-left: 10px;
}
.navbar-static-side ul li.sidebar-heading {
  padding: 5px 15px;
}
.navbar-static-side ul li.sidebar-heading h4 {
  font-family: 'Oswald';
  font-size: 18px;
  font-weight: bold;
  color: #dc6767;
}
.navbar-static-side ul li.user-panel {
  padding: 15px;
}
.navbar-static-side ul li.user-panel .thumb {
  float: left;
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.navbar-static-side ul li.user-panel .thumb img {
  width: 45px;
  height: 45px;
}
.navbar-static-side ul li.user-panel .info {
  float: left;
  padding: 5px 5px 5px 15px;
  color: #ffffff;
}
.navbar-static-side ul li.user-panel .info p {
  margin-bottom: 3px;
  font-size: 16px;
}
.navbar-static-side ul li.user-panel .info a {
  font-size: 10px;
}
.navbar-static-side ul li.user-panel .info a i {
  font-size: 14px;
  color: #999;
}
.navbar-static-side ul li.user-panel .info a:hover,
.navbar-static-side ul li.user-panel .info a:focus {
  background-color: transparent;
}
.navbar-static-side ul li.user-panel .info a:hover i,
.navbar-static-side ul li.user-panel .info a:focus i {
  color: #777;
}
.navbar-static-side ul li.user-panel ul li {
  border-bottom: 0;
}
.sidebar-user-info {
  padding: 15px;
}
.sidebar-user-info img {
  border: 5px solid #d95b5b;
  width: 75px;
  height: 75px;
  display: inline-block;
}
.sidebar-user-info h4 {
  color: #FFFFFF;
  margin-bottom: 5px;
}
.sidebar-user-info ul {
  margin-bottom: 3px;
}
.sidebar-user-info ul li {
  border-bottom: 0 !important;
}
.sidebar-user-info ul li a {
  color: #cdcdcd;
}
.sidebar-user-info .user-status {
  width: 10px;
  height: 10px;
  border-radius: 50% !important;
  display: inline-block;
  background: transparent;
  margin-right: 5px;
}
.sidebar-user-info .user-status.is-online {
  background: #06B53C;
}
.sidebar-user-info .user-status.is-idle {
  background: #F7D227;
}
.sidebar-user-info .user-status.is-busy {
  background: #ee4749;
}
.sidebar-user-info .user-status.is-offline {
  background: #666666;
}
.sidebar-user-info span {
  color: #FFFFFF;
}
.sidebar-user-activity {
  padding: 15px;
  border-bottom: 0 !important;
}
.sidebar-user-activity h4 {
  color: #FFFFFF;
}
.sidebar-user-activity .note {
  padding: 3px 15px;
  margin-bottom: 5px;
}
.sidebar-user-activity .note small {
  color: #cdcdcd;
}
.sidebar-user-activity .note a:hover,
.sidebar-user-activity .note a:focus {
  background: transparent;
}
.arrow {
  float: right;
  margin-top: 3px;
}
.fa.arrow:before {
  content: "\f104";
}
.active > a > .fa.arrow:before {
  content: "\f107";
}


.right-sidebar #topbar .navbar-header {
  float: right;
  border-right: 0;
}
.right-sidebar #sidebar {
  left: auto;
  right: 0;
}
.right-sidebar #page-wrapper {
  margin: 0 250px 0 0;
}
/* Begin Horizontal menu */
/* Begin Left Sidebar Collapsed */
.left-side-collapsed .navbar-static-side {
  width: 54px;
  overflow: hidden;
}
.left-side-collapsed .navbar-static-side ul#side-menu li.user-panel {
  display: none;
}
.left-side-collapsed .navbar-static-side ul#side-menu li.nav-hover a {
  height: 50px;
}
.left-side-collapsed .navbar-static-side ul#side-menu li.nav-hover a span.menu-title {
  display: block !important;
}
.left-side-collapsed .navbar-static-side ul#side-menu li.nav-hover a span.submenu-title {
  display: block !important;
  margin-left: 0;
}
.left-side-collapsed .navbar-static-side ul#side-menu li.nav-hover ul.nav-second-level {
  display: block;
  position: absolute;
  top: 50px;
  left: 55px;
  width: 195px;
}
.left-side-collapsed .navbar-static-side ul#side-menu li.nav-hover ul.nav-second-level li a {
  padding: 15px;

}
.left-side-collapsed .navbar-static-side ul#side-menu li{
height: 50px;
overflow: hidden;
}
.left-side-collapsed .navbar-static-side ul#side-menu li a{
  height: 50px;
overflow: hidden;

}
.left-side-collapsed .navbar-static-side ul#side-menu li a span {
  display: none;
}
.left-side-collapsed .navbar-static-side ul#side-menu li a .title-icon:hover {
  display: none!important;
}
.left-side-collapsed .navbar-static-side ul#side-menu li a i.fa{
  font-size: 22px;
}
.left-side-collapsed .navbar-static-side ul#side-menu li a i.fa-desktop:before {
  content: "\f0c9";
}
.left-side-collapsed .navbar-static-side ul#side-menu li a span.title-icon{
  display: none!important;
      
}

.left-side-collapsed .navbar-static-side ul#side-menu li a span.menu-title, .user-type.menu-title {
  position: absolute;
  top: 0;
  left: 55px;
  padding: 15px;
  margin-left: 0;
  width: 195px;
  height: 50px;
    background: #FFF; /* Old browsers */
      outline: none;
      
}
.left-side-collapsed .navbar-static-side ul#side-menu li ul.nav-second-level {
  display: none;
  position: absolute;
  top: 50px;
  left: 55px;
  width: 195px;
}
.left-side-collapsed .navbar-static-side ul#side-menu li ul.nav-second-level li a i {
  display: none;
}
.left-side-collapsed #page-wrapper {
  margin: 50px 0 0 55px;
}

@media (min-width: 768px) {
  .navbar-static-side {
    z-index: 1;
    position: fixed;
    width: 250px;
    bottom: 0;
    overflow: hidden;
   
  }


}
@media (max-width: 768px) {





}
@media (min-width: 840px) {

    #menu-toggle{
  display: block!important;
}
  #menu-toggle2{
  display: none;
}
}
@media (max-width: 840px) {
  #sidebar {
    top: 55px;
}
.left-side-collapsed #page-wrapper {
    margin: 55px 0 0 0px;
}
}
/* End Left Sidebar Collapsed */


.k-animation-container, .k-animation-container *, .k-animation-container :after, .k-block .k-header, .k-list-container, .k-widget, .k-widget *, .k-widget :before {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border-right: none;
    border-left: none;
}

.k-grid-header .k-header, 
.k-grid-header .k-header .k-link, 
.k-grid-header .k-link, 
.k-grid-header .k-link:link, 
.k-pager-info, 
.k-scheduler-agendaview .k-scheduler-datecolumn, 
.k-scheduler-header {
    color: #454545;
}

.k-filter-row th, .k-grid-header th.k-header {
  border-left: solid 1px #e0e0e0;
}
div.k-grid-footer, div.k-grid-header {
  padding-right: 0!important;
    
}

.k-grid-content {
    overflow-y: auto;

}
.k-filter-row th {
    padding: 0;
}
.k-filter-row .k-dropdown-operator, .k-filtercell>span>.k-button {
    position: absolute;
    top: 0px;
    right: 31px;
    box-shadow: none;
    background-color: #fff;
}
.k-grid-header .k-header{
  right: 0;
}
.k-autocomplete .k-input{
    border-radius: 1px;
    background-color: #ffffff;
}
.k-filtercell>span>.k-button {
    background-color: transparent;
    top: -3px;
}

.k-grid tr:hover {
    background-image:none;
}

.k-grid tr.k-filter-row:hover{
background-color: #ffffff;
}

.k-dropdown-wrap.k-state-focused, .k-dropdown-wrap.k-state-hover{
  background-color: #f0f0f0;
  color: #0c9ed3;
  box-shadow: none;
}
.k-grid-header th.k-header {
    background-color: #f5f7f8;
    font-size: 13px;
    font-family: opensans-bold;
}
.k-grid td{
  font-size: 13px;
  padding: 0;
}
.k-grid td a{
  padding: 10px 0;
  color: #099cdc;
}
.k-grid td a:hover{
  font-family: 'opensans-bold';
}
.k-grid .k-alt {
    background-color: #f9fafb;
}
.k-grid tr {
    background-color: #ffffff;
    border-top: 1px solid #e7eaec;
}
.k-grid td .sum{
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: center;
}

.k-grid td .first-cell{
  padding-left: 10px;
  text-decoration: none;
  color: #454545;

}
.k-grid td .first-cell:hover{
  color: #099cdc;
}
.k-grid td .second-cell{
  padding-left: 10px;

}
.k-dropdown .k-state-default {
    background-color: #ffffff;
}

 .k-autocomplete{
      margin: 0;
    padding: 0;
    border: none;
 }


